html,
body {
    font-family: 'Overpass', sans-serif;
    background-color: hsl(216, 12%, 8%);
    color: white;
    height: 100vh;
}

p {
    font-size: 15px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}


label input {
    opacity: 0;
}


.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.card__content {
    width: 22rem;
    padding: 1.8em 1em;
    background: rgb(37,45,55);
    background-color:  rgba(124,135,152));
    border-radius: 20px;
    min-height: 18rem;
    display: flex;
    flex-direction: column;
}
.firstScreen__header img {
    background-color: #80808054;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 12px;
  }
  .firstScreen__header h1 {
    color: hsl(0, 0%, 100%);
    margin: 8px 0;
  }
.firstScreen p {
    color: hsl(217, 12%, 63%);
  }
.rate {
    display: flex;
    justify-content: space-between;
    margin: 18px 0;
  }
  label {
    display: block;
    position: relative;
}
label input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
label span {
    width: 40px;
    height: 40px;
    line-height: 1;
    text-align: center;
    border-radius: 100%;
    background-color: #afafff42;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 1.2em;
}

label:hover span {
	background: #95a7bfb0;
}
input:checked+span {
    background: #fb7413;
}
.firstScreen .submit--enable{
    background-color: #fb7413;
    color: white;
    cursor: pointer;
}
.submit {
    width: 100%;
    padding: 10px;
    border-radius: 20em;
    background-color: #999;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: no-drop;
  }

  /* Last Screen */
  .lastScreen {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .lastScreen img {
    max-width: 12em;
  }
  .rating {
	margin: 16px;
	background-color: #a6a6a64f;
	padding: 5px 31px;
	border-radius: 10px;
	color: #fc7614;
	font-size: 14px;
	line-height: 15px;
}
  .lastScreen h2 {
    margin: 12px 0;
  }
  .lastScreen p:last-child {
    color: gray;
  }
